################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sample/.vs/sample/v15/Server/sqlite3
*.sqlite
/sample/sample/obj
